/** RSS FEED **/
.labelfield{ color:#2F0000; font-size: 90%; }
.datefield{ color:gray; font-size: 70%; text-align:left;}
#rssfeeds a{ color: #303147;text-decoration: none;font-weight: bold;}
#rssfeeds{
	min-height: 1000px;
}
#rssfeeds p{
 margin-bottom: 2px;
}

code{ color: red;}
#blogoolafeed, #blogoolafeed a { color:white; }
#blogoolafeed a:hover{ color:#8E7BD3; }
#blogoolafeed ul { margin-left:-15px }

#rssfeed-wrap 
{ 	
	/*text-align:center; 
	margin:30px auto;
	padding: 30px 50px;
	background-color: #FFF;
	width: 750px;
	border-radius: 10px;*/
	
	background-color: #FFF;
	/*box-shadow: inset 5px 5px 10px rgba(0,0,0,.05);
	-webkit box-shadow: inset 5px 10px 5px rgba(0,0,0,.05);
	-moz-box-shadow: inset 5px 5px 10px rgba(0,0,0,.05);*/
}


#rssfeed-wrap  .datefield{ /* CSS for date field of the RSS feed with id="example1" */
	text-align:left;
}

#rssfeed-wrap  ul{
	margin-left: -40px;
	padding-top: 5px;
	position: relative;
}

#rssfeed-wrap  li{ /* CSS for date field of the RSS feed with id="example1" */
	text-align:left;
	margin: 0;
	padding: 10px;
	position: relative;
	min-height: 40px;
	list-style-type: none;
}

#rssfeed-wrap  li:hover{ /* CSS for date field of the RSS feed with id="example1" */
	
	margin-top: 0px;	
	
	/*border: 1px #306161 solid;*/
	background-color: #F8F8F8;	
		
}



#rssfeed-wrap  li a:hover{
	text-decoration: underline;
}

#rssfeed-wrap  li a{
	margin-left: 5px;
}

.rating{

	color:#2a6496;	
	float: right;
	font-size: 12px;
	font-weight: bolder;
}

body{
	
	background: #8099D9 url("../img/ForexFon.png") repeat-x;

}


 h1{
 	
	margin-top: 30px;
	margin-bottom: 7px;
	color:#000;
	
	font-weight: bolder;
	font-size: 15px;
	text-align: left;
	text-shadow: 1px 1px 5px #F8F8F8;
	
}

h1 img{
	width: 20px;
	height: 20px;
}

h1 img:hover{
	opacity: 0.7; 
}


.navbar-brand{
	padding: 6px 0 0 0;
	margin-left: 199px;
	margin-right: 100px;
}

.container{

	max-width: 940px;
	text-align:center; 
	margin:30px auto;
	padding: 0;
}

 .col-md-12 {
 	padding: 0px;
 }

.navbar-collapse{
	box-shadow: 0px 3px 10px #000;
	-webkit box-shadow:0px 3px 10px #000;
	-moz-box-shadow: 0px 3px 10px #000;
}

.navbar-default .navbar-brand {
	color:#306161;
	font-weight: bolder;
}

.blog-footer {
	padding: 30px 0;
	color: #999;
	text-align: center;
	background-color: #f8f8f8;
	border-top: 1px solid #e5e5e5;
}

.blog-footer ul{
	list-style-type: none;
}

.blog-footer li{
	display: inline-block;
	
}

.blog-footer a{
	color: #818181;
	font-weight: 600;
	padding: 0 20px;
	border-right: 1px solid #999;
}

#last-href{
	border-right: none;
}


.btn {
	height: 50px;
	width: 100px;
}

#play{
	display: block;
}

.hiddeElement{

	visibility : hidden;
}

.mySearch{
	width: 25%;

}